@model StatusModel
@{
    var color = "";
    var status = "";
    var icon = "";
    if (Model.Status == "0")
    {
        color = "red";
        status = Global.NotStarted;
        icon = "exclamation triangle";
    }
    else if (Model.Status == "1")
    {
        color = "yellow";
        //status = Model.IsMgr ? Global.Reopened: Global.InProgress;
        status = Model.IsMgr ? Global.StatusReturned : Global.InProgress;
        icon = "pencil";
    }
    else if (Model.Status == "2")
    {
        color = "blue";
        status = Model.IsMgr ? Global.ForReview : Global.InReview;
        icon = "user lock";
    }
    else if(Model.Status == "3")
    {
        color = "orange";
        status = Global.Recommended;
        icon = "tasks";
    }
    else if(Model.Status == "4")
    {
        color = "green";
        status = Global.Approved;
        icon = "check circle";
    }
    else if (Model.Status == "5")
    {
        color = "red";
        status = Global.Denied;
        icon = "tasks circle";
    }
    else if (Model.Status == "6")
    {
        color = "blue";
        status = Global.StatusRenewRequired;
        icon = "edit";
    }
    else if (Model.Status == "7")
    {
        color = "green";
        status = Global.StatusRenewed;
        icon = "check circle";
    }
}


<span class="ui basic @color label" data-testid="status-label"><i class="@color @icon icon"></i> @status</span>
