<div class="ui segments">
    <div class="ui segment">
        <h3 class="warning-text">@Global.UnableToStartRequest</h3>

        <p data-testid="missing-ad-msg">@Global.ADInfoNotFound</p>
    </div>
</div>