<footer role="contentinfo" id="wb-info">
    <div class="ui container">
        <div class="ui two column grid">
            <div class="column">
                <div class="brand">
                    <partial name="_VersionInfo" />
                </div>
                <a class="wb-sl" href="#main_cont">@Resources.Template.SkipToMainContent</a>
            </div>
            <div class="right aligned column">
                <object style="height:35px" type="image/svg+xml" tabindex="-1" role="img" data="~/images/wmms-blk.svg" aria-label="@Resources.Template.GcWmms"></object>
            </div>
        </div>
    </div>
</footer>