.btn.btn-primary {
    background: #515;
}

.splash object {
    height: 50%;
}

.splash-list {
    padding-left: 0px;
}

    .splash-list li {
        float: left;
        padding-right: 20px;
    }

        .splash-list li:first-child {
            list-style: none;
        }
