<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <!--<windowsAuthentication enabled="false"></windowsAuthentication>
        <anonymousAuthentication enabled="true"></anonymousAuthentication>-->
      </authentication>
    </security>
  </system.webServer>
</configuration>